---
layout: general
small: "Cleaning services plans"
h1: "Schedule your clean with Quality Standard Ohio"
text: "Easy online scheduling for all cleaning services."
hero: 'img/cleaning_services.avif'
---

<section class="section wrapper">
  <small>Professional Cleaning Services Columbus</small>
  <h2>Shedule cleaning in Columbus, Ohio, and surrounding areas</h2>
  <p>Schedule your cleaning service in just 4 easy steps. Choose the type of service according to your needs.</p>
</section>

<section class="cards">
  <div class="wrapper">
    <h3>Cleaning service for apartments and small offices</h3>
    <div class="three_columns">
      <div>
        <img src="{{ 'img/carpet-cleaning.avif' | relative_url }}" width="360" height="200" alt="1 or 2 bedrooms with 1 bathroom">
        <h4>1 or 2 bedrooms with 1 bathroom</h4>
        <span>$130</span>
        <p>Cleaning one or two bedrooms with one bathroom.</p>
      </div>
      <div>
        <img src="{{ 'img/carpet-cleaning.avif' | relative_url }}" width="360" height="200" alt="1 or 2 bedrooms with 1 bathroom">
        <h4>2 bedrooms with 1 or 2 bathrooms</h4>
        <span>$150</span>
        <p>Cleaning one or two bedrooms with one bathroom.</p>
      </div>
      <div>
        <img src="{{ 'img/carpet-cleaning.avif' | relative_url }}" width="360" height="200" alt="1 or 2 bedrooms with 1 bathroom">
        <h4>3 bedrooms with 1 or 2 bathrooms</h4>
        <span>$170</span>
        <p>Cleaning one or two bedrooms with one bathroom.</p>
      </div>
    </div>
  </div>
  <div class="text_center">
    {% include button.html
    text = '→ Take our service'
    %}
  </div>
</section>
<section class="bgr cards__bg ">
  <div class="wrapper">
    <h3>Cleaning service for homes and large offices</h3>
    <div class="three_columns">
      <div>
        <img src="{{ 'img/carpet-cleaning.avif' | relative_url }}" width="360" height="200" alt="1 or 2 bedrooms with 1 bathroom">
        <h4>2 bedrooms with 1 or 2 bathroom</h4>
        <span>$190</span>
      </div>
      <div>
        <img src="{{ 'img/carpet-cleaning.avif' | relative_url }}" width="360" height="200" alt="1 or 2 bedrooms with 1 bathroom">
        <h4>3 bedrooms with 1 or 2 bathrooms</h4>
        <span>$210</span>
      </div>
      <div>
        <img src="{{ 'img/carpet-cleaning.avif' | relative_url }}" width="360" height="200" alt="1 or 2 bedrooms with 1 bathroom">
        <h4>4 or more bedrooms with 2 or more bathrooms</h4>
        <span>$230</span>
      </div>
    </div>
    <div class="text_center ">
      {% include button.html
      text = '→ Take our service'
      %}
    </div>
  </div>
</section>