<section class="wrapper">
  <div class="text_center">
    <h2>Areas we serve in Columbus</h2>
    <p>Local service with 5-star results</p>
  </div>
  <div class="service-cards">
    <div class="card">
      <div class="card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48" fill="var(--color-main)">
          <path d="M12 2L2 7v7c0 5.5 4 10.5 10 11s10-5.5 10-11V7l-10-5zM12 20c-3.866 0-7-3.134-7-7 0-3.23 2.218-5.92 5-6.708V6c0-1.105.895-2 2-2s2 .895 2 2v.292c2.782.788 5 3.478 5 6.708 0 3.866-3.134 7-7 7z"/>
        </svg>
      </div>
      <h3>North Columbus</h3>
      <ul>
        <li>Worthington</li>
        <li>Dublin</li>
        <li>Powell</li>
      </ul>
    </div>
    <div class="card">
      <div class="card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48" fill="var(--color-main)">
          <path d="M12 2L2 7v7c0 5.5 4 10.5 10 11s10-5.5 10-11V7l-10-5zM12 20c-3.866 0-7-3.134-7-7 0-3.23 2.218-5.92 5-6.708V6c0-1.105.895-2 2-2s2 .895 2 2v.292c2.782.788 5 3.478 5 6.708 0 3.866-3.134 7-7 7z"/>
        </svg>
      </div>
      <h3>East Columbus</h3>
      <ul>
        <li>Gahanna</li>
        <li>New Albany</li>
        <li>Westerville</li>
      </ul>
    </div>
    <div class="card">
      <div class="card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48" fill="var(--color-main)">
          <path d="M12 2L2 7v7c0 5.5 4 10.5 10 11s10-5.5 10-11V7l-10-5zM12 20c-3.866 0-7-3.134-7-7 0-3.23 2.218-5.92 5-6.708V6c0-1.105.895-2 2-2s2 .895 2 2v.292c2.782.788 5 3.478 5 6.708 0 3.866-3.134 7-7 7z"/>
        </svg>
      </div>
      <h3>South Columbus</h3>
      <ul>
        <li>Grove City</li>
        <li>Canal Winchester</li>
        <li>Pickerington</li>
      </ul>
    </div>
    <div class="card">
      <div class="card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48" fill="var(--color-main)">
          <path d="M12 2L2 7v7c0 5.5 4 10.5 10 11s10-5.5 10-11V7l-10-5zM12 20c-3.866 0-7-3.134-7-7 0-3.23 2.218-5.92 5-6.708V6c0-1.105.895-2 2-2s2 .895 2 2v.292c2.782.788 5 3.478 5 6.708 0 3.866-3.134 7-7 7z"/>
        </svg>
      </div>
      <h3>West Columbus</h3>
      <ul>
        <li>Hilliard</li>
        <li>Upper Arlington</li>
        <li>Grandview Heights</li>
      </ul>
    </div>
  </div>
</section>