<section class="wrapper">
  <div class="text_center">
    <h2>Areas we serve in Columbus Ohio</h2>
    <p>Local service with 5-star results</p>
  </div>
  <div class="service-cards">
    <div class="card">
      <div class="card-icon">
        <img src="{{ 'img/areas-service-columbus-ohio.avif' | relative_url }}" width="48" height="48" fill="var(--color-main)">
        </img>
      </div>
      <h3>North & Northeast Columbus</h3>
      <ul>
        <li>→ <a href="{{ '/areas/worthington' | relative_url }}">Worthington</a></li>
        <li>→ <a href="{{ '/areas/new-albany' | relative_url }}">New Albany</a></li>
        <li>→ Powell</li>
        <li>→ Westerville</li>
      </ul>
    </div>
    <div class="card">
      <div class="card-icon">
        <img src="{{ 'img/areas-service-columbus-ohio.avif' | relative_url }}" width="48" height="48" fill="var(--color-main)">
        </img>
      </div>
      <h3>Central Columbus</h3>
      <ul>
        <li>→ <a href="{{ '/areas/german-village' | relative_url }}">German Village</a></li>
        <li>→ <a href="{{ '/areas/victorian-village' | relative_url }}">Victorian Village</a></li>
        <li>→ <a href="{{ '/areas/short-north' | relative_url }}">Short North</a></li>
        <li>→ <a href="{{ '/areas/clintonville' | relative_url }}">Clintonville</a></li>
      </ul>
    </div>
    <div class="card">
      <div class="card-icon">
        <img src="{{ 'img/areas-service-columbus-ohio.avif' | relative_url }}" width="48" height="48" fill="var(--color-main)">
        </img>
      </div>
      <h3>Northwest Columbus</h3>
      <ul>
        <li>→ <a href="{{ '/areas/dublin' | relative_url }}">Dublin</a></li>
        <li>→ Upper Arlington</li>
        <li>→ Grandview Heights</li>
        <li>→ Muirfield</li>
      </ul>
    </div>
    <div class="card">
      <div class="card-icon">
        <img src="{{ 'img/areas-service-columbus-ohio.avif' | relative_url }}" width="48" height="48" fill="var(--color-main)">
        </img>
      </div>
      <h3>East Columbus</h3>
      <ul>
        <li>→ Bexley</li>
        <li>→ Blacklick</li>
        <li>→ Gahanna</li>
        <li>→ Easton</li>
      </ul>
    </div>
  </div>
</section>