<!-- _includes/cookie-banner.html -->
<div id="cookie-banner" class="cookie-banner">
  <div class="cookie-content">
    <p>
      This website uses its own and third-party cookies to improve the user
      experience and obtain navigation statistics.
      <a href="/legal/cookies/" style="color: var(--color-main);">More info</a>
    </p>
    <div class="cookie-buttons">
      <button onclick="acceptCookies()" class="button-accept">
        Accept all
      </button>
      <button onclick="rejectCookies()" class="button-reject">
        Only essentials
      </button>
    </div>
  </div>
</div>