---
layout: default
---
ç<footer class="footer">
  <div class="footer_links">
    <div>
      <h5>Quick Links</h5>
      <a href="{{'about-us'|relative_url}}" title="Quality Standard Ohio about page">About</a>
      <a href="{{'princing'|relative_url}}" title="Quality Standard Ohio pricing page">Pricing</a>
      <a href="{{'contact'|relative_url}}" title="Quality Standard Ohio contact page">Contact Us</a>
      <a href="{{'blog'|relative_url}}" title="Quality Standard Ohio blog page">Blog</a>
    </div>
    <div>
      <h5>Top Services</h5>
      <a href="{{'residential/regular'|relative_url}}" title="Quality Standard Ohio regular cleaning service page">Regular home cleaning</a>
      <a href="{{'commercial/office'|relative_url}}" title="Quality Standard Ohio office cleaning service page">Office cleaning</a>
      <a href="{{'commercial/medical'|relative_url}}" title="Quality Standard Ohio medical facilities cleaning service page">Medical facilities cleaning</a>
      <a href="{{'specialized/carpet-cleaning'|relative_url}}" title="Quality Standard Ohio carpet cleaning service page">Carpet cleaning</a>
    </div>
    <div>
      <h5>Stay connected</h5>
      <div class="redes">
        <a href="#" title="Quality Standard Ohio WhatsApp" rel="nofollow noopener noreferrer" target="_blank" id="lead_whatsapp">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 24 24"><g fill="#008037"><path d="M6.014 8.006c.114-.904 1.289-2.132 2.22-1.996V6.01c.907.172 1.625 1.734 2.03 2.436.286.509.1 1.025-.167 1.243-.361.29-.926.692-.808 1.095C9.5 11.5 12 14 13.23 14.711c.466.269.804-.44 1.092-.804.21-.28.726-.447 1.234-.171.759.442 1.474.956 2.135 1.534.33.276.408.684.179 1.115-.403.76-1.569 1.76-2.415 1.557C13.976 17.587 8 15.27 6.08 8.558c-.108-.318-.08-.438-.066-.552Z" /><path fill-rule="evenodd" d="M12 23c-1.224 0-1.9-.131-3-.5l-2.106 1.053A2 2 0 0 1 4 21.763V19.5c-2.153-2.008-3-4.323-3-7.5C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11Zm-6-4.37-.636-.593C3.691 16.477 3 14.733 3 12a9 9 0 1 1 9 9c-.986 0-1.448-.089-2.364-.396l-.788-.264L6 21.764V18.63Z" clip-rule="evenodd" /></g></svg>
        </a>
        <a href="{{site.instagram}}" rel="nofollow noreferrer" target="_blank">
        </a>
        <a href="{{site.facebook}}" rel="nofollow noreferrer" target="_blank" class="footer__facebook">
          <svg width="20" height="20" viewBox="-5 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#008037"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>facebook [#FFc30b]</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-385.000000, -7399.000000)" fill="#ffffff"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M335.821282,7259 L335.821282,7250 L338.553693,7250 L339,7246 L335.821282,7246 L335.821282,7244.052 C335.821282,7243.022 335.847593,7242 337.286884,7242 L338.744689,7242 L338.744689,7239.14 C338.744689,7239.097 337.492497,7239 336.225687,7239 C333.580004,7239 331.923407,7240.657 331.923407,7243.7 L331.923407,7246 L329,7246 L329,7250 L331.923407,7250 L331.923407,7259 L335.821282,7259 Z" id="facebook-[#008037]"></path></g></g></g></g></svg>
        </a>
      </div>
      <small>You can consult our <a href="{{site.baseurl}}/legal" target="_blank" title="Términos y condiciones de Quality">terms and conditions</a>. See <a href="{{site.baseurl}}/politica-de-privacidad" target="_blank" title="Políticas de privacidad">how we treat your data</a> and comply with regulatory laws.</small>
    </div>
  </div>
  <div class="footer_legal">
    <a href="/" target="_blank" title="Quality Standard Ohio home">
      <img src="{{'img/logo-quality.avif'|relative_url}}" alt="Quality Standard Ohio Logo's" width="240" height="100" loading="lazy" title="Quality Standard Ohio"/>
    </a>
    <p>&copy; Quality Standard Ohio {{ "now" | date:"%Y"}} - All rights reserved.</p>
    <small>Website developed by <a href="https://juli.com.co">Juli</a></small>
  </div>
</footer>
