<footer class="footer wrapper">
  <div>
  <a href="/" target="_blank" title="Página de inicio Holographic">
    <img src="{{'img/logo-quality.avif'|relative_url}}" alt="Logo de Quality.com" width="120" loading="lazy">
  </a>
</div>
    <div>
      <h5>Contáctanos</h5>
      <a href="tel:{{site.telefono}}" title="" rel="nofollow noopener noreferrer"
        id="lead_whatsapp">{{site.telefono}}</a>
      <a href="{{site.whatsapp}}" title="WhatsApp de Holographic para pedir tus stickers holográficos"
        rel="nofollow noopener noreferrer" target="_blank" id="lead_whatsapp"> <span> WhatsApp </span></a>
      <span>Dirección</span>
      <span>Dirección</span>
      <a href="{{site.maps}}" title="Dirección de Holographic" rel="nofollow noopener noreferrer"
        target="_blank">{{site.direccion}}</a>
    </div>
    <div>
      <h5>Lorem, ipsum.</h5>
      <span>Lorem, ipsum dolor.</span>
      <span>Lorem, ipsum dolor.</span>
      <span>Lorem, ipsum dolor.</span>
    </div>
    <div class="redes">
      <h5>Enlaces</h5>
      <a href="{{'quienes-somos'|relative_url}}" title="Nosotros">®️ Quality S.A.S.</a>
      <a href="{{site.instagram}}" rel="nofollow noreferrer" target="_blank">
        <svg fill="#FFc30b" width="20px" height="20px" viewBox="0 0 256 256" id="Flat"
          xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M160,128a32,32,0,1,1-32-32A32.03667,32.03667,0,0,1,160,128Zm68-44v88a56.06353,56.06353,0,0,1-56,56H84a56.06353,56.06353,0,0,1-56-56V84A56.06353,56.06353,0,0,1,84,28h88A56.06353,56.06353,0,0,1,228,84Zm-52,44a48,48,0,1,0-48,48A48.05436,48.05436,0,0,0,176,128Zm16-52a12,12,0,1,0-12,12A12,12,0,0,0,192,76Z">
            </path>
          </g>
        </svg> Instagram
      </a>
      <a href="{{site.facebook}}" rel="nofollow noreferrer" target="_blank">
        <svg width="20px" height="20px" viewBox="-5 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" fill="#FFc30b">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <title>facebook [#FFc30b]</title>
            <desc>Created with Sketch.</desc>
            <defs> </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Dribbble-Light-Preview" transform="translate(-385.000000, -7399.000000)" fill="#FFc30b">
                <g id="icons" transform="translate(56.000000, 160.000000)">
                  <path
                    d="M335.821282,7259 L335.821282,7250 L338.553693,7250 L339,7246 L335.821282,7246 L335.821282,7244.052 C335.821282,7243.022 335.847593,7242 337.286884,7242 L338.744689,7242 L338.744689,7239.14 C338.744689,7239.097 337.492497,7239 336.225687,7239 C333.580004,7239 331.923407,7240.657 331.923407,7243.7 L331.923407,7246 L329,7246 L329,7250 L331.923407,7250 L331.923407,7259 L335.821282,7259 Z"
                    id="facebook-[#FFc30b]"> </path>
                </g>
              </g>
            </g>
          </g>
        </svg> Facebook
      </a>
    </div>
  </footer>
  <div class="derechos wrapper-nav">
    
    <small><b>&copy; Quality &#174; | {{ "now" | date:"%Y"}} - Todos los derechos reservados.</b> <a
        href="{{site.baseurl}}/legal" target="_blank" title="Términos y condiciones de Quality">Términos y condiciones
      </a> y <a href="{{site.baseurl}}/politica-de-privacidad" target="_blank"
        title="Políticas de privacidad">Políticas de privacidad</a></small>
  </div>