<form class="form">
  <small class="title">Contact us today</small>
  <h2 class="message">Make your home clean and comfortable. Contact us!</h2>
  <div class="flex">
    <label>
      <input required="" placeholder="" type="text" class="input" />
      <span>Firstname</span>
    </label>

    <label>
      <input required="" placeholder="" type="text" class="input" />
      <span>Lastname</span>
    </label>
  </div>

  <label>
    <input required="" placeholder="" type="email" class="input" />
    <span>Email</span>
  </label>

  <label>
    <input required="" placeholder="" type="text" class="input" />
    <span>Tell us what can we do for you</span>
  </label>
  <button class="submit">Send my data</button>
</form>
