{% assign layout = page.layout %}
{% case layout %}
  {% when "default" %}
    <header class="hero-section wrapper">
      <div class="hero-content">
        <h1>We’re building the future banking just for you</h1>
        <p>Easy and fast international business account that saves you money whenever you need it.</p>
        {% include botton-main.html %}
      </div>
      <div class="hero-image">
        <img src="{{ 'img/img-hero.avif' | relative_url }}" width="600" alt="Equipo de limpieza quality">
      </div>
    </header>

  {% when "category" %}
    <header class="wrap-hero wrapper dos_columnas_izquierda">
      <div class="hero-category">
        <h1>{{ page.h1 }}</h1>
        <p>{{ page.text }}</p>

        <div>
          {% include botton-main.html %}
        </div>
      </div>
      <div class="about-image">
        <img src="{{ page.hero | relative_url }}" height="600" width="600" alt="{{page.alt}}">
      </div>
    </header>
  {% when "service" %}
    <header class="wrap-hero wrapper dos_columnas_izquierda">
      <div class="hero-category">
        <h1>{{ page.h1 }}</h1>
        <p>{{ page.text }}</p>

        <div>
          {% include botton-main.html %}
        </div>
      </div>
      <div class="about-image">
        <img src="{{ page.hero | relative_url }}" height="600" width="600" alt="{{page.alt}}">
      </div>
    </header>
  {% else %}
    <header class="wrap-hero wrapper dos_columnas_izquierda">
      <div class="hero-category">
        <h1>{{ page.h1 }}</h1>
        <p>{{ page.text }}</p>

        <div>
          {% include botton-main.html %}
        </div>
      </div>
      <div class="about-image">
        <img src="{{ page.hero | relative_url }}" height="600" width="600" alt="{{page.alt}}">
      </div>
    </header>
{% endcase %}
