<section class="booking-process">
  <div class="wrapper flow">
    <h2>Our {{page.h1 | downcase }} booking process</h2>
    <p class="process-intro">Schedule today the service that will make your day: <strong>{{page.h1 | downcase}}</strong></p>
    <h3>Schedule your cleaning with our easy-to-use app!</h3>
    <aside class="steps">
      <div class="step">
        <div class="icon-container">
          <img src="{{ '/img/calendar.avif' | relative_url }}" alt="Book Online Icon">
        </div>
        <h4>1. BOOK ONLINE</h4>
        <p>Reserve and pay for your <strong>cleaning services online</strong> in Columbus and surrounding cities.</p>
      </div>
      <div class="step">
        <div class="icon-container">
          <img src="{{ '/img/email.avif' | relative_url }}" alt="Get Confirmed Icon">
        </div>
        <h4>2. GET CONFIRMED</h4>
        <p>Receive a reminder of your service 24 hours before the scheduled time.</p>
      </div>
      <div class="step">
        <div class="icon-container">
          <img src="{{ '/img/like.avif' | relative_url }}" alt="Enjoy Our Services Icon">
        </div>
        <h4>3. ENJOY OUR SERVICES</h4>
        <p>Lay back and relax while our team handles all your needs.</p>
      </div>
    </aside>
  </div>
</section>