<section class="wrapper-nav">
    <div class="menu-top">
        <img src="{{'/img/logo_quality.avif' | relative_url}}" alt="Quality Standard Ohio Logo" width="70" class="logo">
        <div class="contact-info">
            <div class="info">
                <img src="{{'/img/phone.avif' | relative_url}}" width="40" height="40" alt="Phone Icon" class="icon">
                <div class="text">
                    <span>Quick Contact</span>
                    <a href="tel:+16146025494">(614) 602-5494</a>
                </div>
            </div>
            <div class="info">
                <img src="{{'/img/email.avif' | relative_url}}" width="40" height="40" alt="Email Icon" class="icon">
                <div class="text">
                    <span>E-mail Us</span>
                    <a href="mailto:support@qualitystandardoh.com">support@qualitystandardoh.com</a>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="nav-menu">
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <ul id="menu-items">
            <li><a href="{{'/index.html' | relative_url}}">Home</a></li>
            <li class="dropdown">
                <a href="{{'/property-maintenance.html' | relative_url}}">Property Maintenance</a>
                <div class="submenu-wrapper">
                    <ul class="submenu">
                        <li><a href="{{'/property/doorstep-trash.html' | relative_url}}">Doorstep trash Pickup</a></li>
                        <li><a href="{{'/property/parking-lot-line.html' | relative_url}}">parking lot line-striping and mantenance</a></li>
                        <li><a href="{{'/property/cleaning-and-disinfecting.html' | relative_url}}">Cleaning and desinfecting</a></li>
                        <li><a href="{{'/property/carpet-cleaning.html' | relative_url}}">Carpet Cleaning</a></li>
                        <li><a href="/servicio3/">Window Cleaning</a></li>
                        <li><a href="/servicio3/">Handyman Services</a></li>
                        <li><a href="/servicio3/">Bulk Item pick up</a></li>
                        <li><a href="/servicio3/">Power Washing</a></li>
                        <li><a href="/servicio3/">Pool Maintenence</a></li>
                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a href="{{'/commercial-services.html' | relative_url}}">Commercial Services</a>
                <div class="submenu-wrapper">
                    <ul class="submenu">
                        <li><a href="/servicio1/">Doorstep trash pickup</a></li>
                        <li><a href="/servicio2/">Cleaning and desinfecting></li>
                        <li><a href="/servicio3/">Window cleaning</a></li>
                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a href="{{'/residential-services.html' | relative_url}}">Residential Services</a>
                <div class="submenu-wrapper">
                    <ul class="submenu">
                        <li><a href="/servicio1/">Servicio 1</a></li>
                        <li><a href="/servicio2/">Servicio 2</a></li>
                        <li><a href="/servicio3/">Servicio 3</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">About</a></li>
        </ul>
        {% include botton-main.html %}
        <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </nav>
</section>
