<section class="about wrapper">
    <div class="about-content">
        <h2>About Us</h2>
        <h3>10+ years of experience in residential and commercial property maintenance</h3>
        <p>We hold ourselves to the highest standards at every stage of the process, refusing to compromise quality. Our commitment to excellence extends beyond the field, as we ensure outstanding service through every communication channel with our clients. We not only implement environmentally responsible practices but also adhere to the codes and guidelines of every community in the state.</p>
        <ul class="about-list">
            <li><span>✔</span> Experienced Team</li>
            <li><span>✔</span> Environmentally responsible.</li>
            <li><span>✔</span> Book, manage & pay online.</li>
            <li><span>✔</span> Outstanding customer service.</li>
        </ul>
        <div>
            {% include botton-main.html %}
        </div>
    </div>
    <div class="about-image">
        <img src="{{'img/about-us.avif' | relative_url}}" height="600" width="600" alt="Team in red uniforms">
    </div>
</section>
