<section class="services wrapper">
    <h2>Explore Our Top Services</h2>
    <p class="intro-text">
        Our team delivers top-tier home and commercial cleaning services, ensuring that every surface sparkles, every room shines, and every client smiles with satisfaction. We take pride in every job we do, because for us, it’s not just a service; it’s a commitment to your well-being.
    </p>
    <div class="service-cards">
        <div class="service-card">
            <img src="{{'img/img-tarjeta.avif' | relative_url}}" alt="Doorstep Trash Pickup">
            <h3>Doorstep Trash Pickup</h3>
            <p>Our operations are built around convenience for the residents and cleanliness of the community, guaranteeing higher and steady percentages of occupancy.</p>
            {% include boton-learn.html %}
        </div>
        <div class="service-card">
            <img src="{{'img/img-tarjeta.avif' | relative_url}}" alt="Carpet Cleaning">
            <h3>Carpet Cleaning</h3>
            <p>Our professional team provides deep carpet cleaning solutions to remove dirt, allergens, and stains, ensuring a fresh and hygienic living environment for your residents.</p>
            {% include boton-learn.html %}
        </div>
        <div class="service-card">
            <img src="{{'img/img-tarjeta.avif' | relative_url}}" alt="Parking lot line-striping and maintenance">
            <h3>Parking lot line-striping and maintenance</h3>
            <p>Enhance the appearance and safety of the apartment complex’s parking areas with line-striping painting services.</p>
            {% include boton-learn.html %}
        </div>
    </div>
</section>
