<!-- Slider 1 -->
<div class="gallery-slider" data-slider-id="{{include.number}}">
  <span class="slider-nav-btn prev" data-direction="prev">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
  </span>
  <div class="slider-container">
    {% for service in site[{{include.src}}] %}
    <article>
      <img src="{{service.hero | relative_url}}" 
           alt="{{service.alt}}" 
           title="{{service.title}}" 
           loading="lazy" 
           width="360" 
           height="200">
      <div class="slider-container__text">
        <h4>{{service.h1}}</h4>
        <p>{{service.excerpt}}</p>
      </div>
    </article>
    {% endfor %}
  </div>
  <span class="slider-nav-btn next" data-direction="next">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
  </span>
</div>