<div class="gallery-slider">
  <div class="slider-container">
    {% for service in site[{{include.src}}] %}
    <article>
      <img src="{{service.hero | relative_url}}" alt="{{service.alt}}" width="360" height="200" loading="lazy">
      <div class="slider-container__text">
        <h4>{{service.h1}}</h4>
        <p>{{service.excerpt}}</p>
      </div>
    </article>
    {% endfor %}
    
    <article>
      <div class="slider-container__text text">
        <h4>{{include.src}} cleaning services in Columbus</h4>
        <p>{{include.excerpt}}</p>
        <a href="#" title="Lorem" class="buttons button-secondary">→ Get more infor </a>
      </div>
    </article>
  </div>
</div>