<div class="gallery-slider">
  <span id="left" class="next">
    <img src="{{'img/prev-black.svg' | relative_url }}" alt="Prev button" width="32" height="32">
  </span>
  <div class="slide-container">
    {% for service in site[{{include.src}}] %}
    <figure>
      <img src="{{service.hero | relative_url}}" alt="{{service.alt}}" title="{{service.title}}" loading="lazy" width="360" height="200">
      <figcaption>{{service.h1}}</figcaption>
    </figure>
    {% endfor %}
  </div>
  <span id="right" class="prev">
    <img src="{{'img/next-black.svg' | relative_url }}" alt="Next button" width="32" height="32">
  </span>
</div>
