<section class="section wrapper">
  <small>Recommendations from those who already enjoy their cleaning service</small>
  <h2>Check out Quality Standard Ohio cleaning service reviews</h2>
</section>

<section class="testimonials">
  <div class="wrapper">
    <div class="testimonial-card">
      <div class="profile">
        <img src="{{ 'img/logo-quality.avif' | relative_url }}" width="80" height="80" alt="Roseanne">
        <div>
          <h3>Roseanne</h3>
          <span>Customers</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="-72 -72 1344 1344" fill="#e7e7e7"
          stroke="#e7e7e7" stroke-width="0.012">
          <path
            d="M681.526,1094.657c212.643-14.942,518.306-48.892,518.474-465.344v-523.97H725.496v560.61h157.559c9.98,149.693-113.285,188.346-247.329,218.017L681.526,1094.657z M45.802,1094.657c212.644-14.942,518.307-48.894,518.474-465.344v-523.97H89.77v560.61h157.559C257.311,815.647,134.044,854.3,0,883.971L45.802,1094.657L45.802,1094.657z" />
        </svg>
      </div>
      <div class="stars">★★★★★</div>
      <p>Parturient montes nascetur ridiculus mus mauris. Purus ut faucibus pulvinar elementum integer enim sed faucibus
        turpis in eu.</p>
    </div>

    <div class="testimonial-card">
      <div class="profile">
        <img src="{{ 'img/logo-quality.avif' | relative_url }}" width="50" height="50" alt="Patrick Herman">
        <div>
          <h3>Patrick Herman</h3>
          <span>Customers & CEO</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="-72 -72 1344 1344" fill="#e7e7e7"
          stroke="#e7e7e7" stroke-width="0.012">
          <path
            d="M681.526,1094.657c212.643-14.942,518.306-48.892,518.474-465.344v-523.97H725.496v560.61h157.559c9.98,149.693-113.285,188.346-247.329,218.017L681.526,1094.657z M45.802,1094.657c212.644-14.942,518.307-48.894,518.474-465.344v-523.97H89.77v560.61h157.559C257.311,815.647,134.044,854.3,0,883.971L45.802,1094.657L45.802,1094.657z" />
        </svg>
      </div>
      <div class="stars">★★★★★</div>
      <p>Parturient montes nascetur ridiculus mus mauris. Purus ut faucibus pulvinar elementum integer enim sed faucibus
        turpis in eu.</p>
    </div>
  </div>
</section>