.cta-button {
    display: inline-block;
    padding: 1rem 3vw;
    background-color: var(--color-complement);
    font-size: 1.05rem;
    font-weight: 900;
    text-align: center;
    transition: background-color 0.5s ease, transform 0.5s ease;
    object-fit: contain;
    color: var(--negro);
    border-radius: 8px;
}

.cta-button:hover {
    background-color: var(--color-main);
    transform: translateY(-0.2rem);
    color: var(--color-white);
}

.cta-button:active {
    transform: translateY(0.1rem);
}
