.carousel_container {
  padding: 4em 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel {
  display: flex;
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  width: calc(520px * 18);
  overflow: hidden;
}
.carousel .item {
  width: 520px;
  padding: 1rem;
  display: grid;
  place-items: center;
}
.carousel .item img {
  width: 520px;
  height: auto;
  border-radius: var(--radius);
  aspect-ratio: 1/1;
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-520px * 9));
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-520px * 9));
  }
}
