/* Contenedor principal que usa Flexbox para alinear la imagen y el contenido */
.encabezado-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

/* Imagen fluida para adaptarse al espacio disponible */
.encabezado-image{
    flex: 1; 
    min-width: 300px;
}
.encabezado-image img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px;
}

/* Contenedor de texto */
.encabezado-content {
    display: grid;
    gap: 1rem; 
    flex: 1;
    min-width: 300px;

    h1{
        font-size: 3rem;
    }
}

/* Párrafos de contenido */
.encabezado-content p {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 0;
    line-height: 1.5;
}

/* Estilo del ícono de verificación */
.encabezado-content span {
    color: var(--color-btn);
    font-size: 1.2em; 
}
