.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  background-color: var(--color-main);
  box-shadow: 0 0 0 100vmax var(--color-main);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);

  a {
    display: flex;
    gap: 4px;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-family: var(--fuente);
    color: var(--color-complement);
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.footer div:not(.derechos) {
  display: grid;
  gap: 8px;
  place-content: start;
}

.derechos {
  width: 100%;
  display: grid;
  gap: 8px;
  place-items: center;

  a {
    display: inline;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  small {
    color: var(--color-fonts);
    display: block;
  }
}
