/* Estilos del Footer */
.footer {
    padding: 1rem;
    background-color: var(--color-main); /* Color de fondo del footer */
    color: var(--color-white); /* Color del texto */
}
.footer-content{
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los lados */
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: clamp(0.8rem, 1vw, 1rem); /* Tamaño de fuente responsivo */
}

.footer img {
    width: 24px; /* Tamaño del ícono */
    height: auto;
}
