/* Estructura del header */
.header_home {
  background-color: var(--bgr);
  box-shadow: 0 0 0 100vmax var(--bgr);
  clip-path: inset(0-100vmax);

  .wrapper {
    position: relative;
    padding: 0;

    .header__home--text {
      padding: 6em 0 4em;
      small {
        text-transform: uppercase;
      }

      h1 {
        margin-top: 16px;
      }

      p {
        width: min(100%, 520px);
      }
    }

    img {
      flex: 1 1 400px;
      min-width: clamp(250px, 35vw, 600px);
      overflow: unset;
      z-index: -1;
    }
  }
}

.header__services {
  .wrapper {
    position: relative;
    padding: 0;

    .header__home--text {
      padding: 6em 0 4em;
      small {
        text-transform: uppercase;
      }

      h1 {
        margin-top: 16px;
      }

      p {
        width: min(100%, 520px);
      }
    }
    img {
      position: relative;
      bottom: calc(-92px + 2vw);
      flex: 1 1 400px;
      min-width: clamp(250px, 35vw, 600px);
      overflow: unset;
      z-index: 2;
      
    }
  }
}
