/* Estructura del header */
.header_home {
  background-color: var(--bgr);
  box-shadow: 0 0 0 100vmax var(--bgr);
  clip-path: inset(0-100vmax);

  .wrapper {
    position: relative;
    padding: 0;

    .header__home--text {
      padding: 6em 0 4em;
      flex: 1 0 320px;

      h1 {
        font-size: 16px;
        margin-bottom: 1em;
      }

      h2 {
        font-size: clamp(2.5rem, 5vw, 4rem);
      }

      p {
        width: min(100%, 520px);
      }
    }

    img {
      width: min(100%, 600px);
      overflow: unset;
      z-index: -1;
    }
  }
}

.header__services {
  .wrapper {
    position: relative;
    padding: 0;

    .header__home--text {
      padding: 6em 0 4em;
      flex: 1 1 400px;

      h1 {
        font-size: 16px;
        margin-bottom: 1em;
      }

      h2 {
        font-size: clamp(2.5rem, 5vw, 4rem);
      }
    }
    img {
      width: min(100%, 600px);
      position: relative;
      overflow: unset;
      z-index: 2;
    }
  }
}
