/* Estructura del header */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white); 
    flex-wrap: wrap; 
    gap: 2em;
}

/* Contenedor del contenido de texto */

.hero-content {
    justify-self: end;
    display: grid;
    place-items: center;
    flex: 1; 
    min-width: 300px;

    p{
        margin-bottom: 1rem;
        
    }
}

/* Imagen del hero */
.hero-image {
    flex: 1; 
    min-width: 300px; 
}

.hero-image img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px;
    mask-image: linear-gradient(white 80%, transparent);
}

/* Responsividad sin media queries */
.hero-section {
    flex-wrap: wrap; 
}
