.about {
  img {
    -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    width: min(100%, 520px);
  }

  .about_content .benefits_item {
    display: flex;
    gap: 8px;
    margin-top: 1em;

    cite{
      color: var(--color-complement);
      font-size: 1.4em;
      margin: 12px;
      text-decoration: underline;
      text-indent: 4px;
      text-decoration-thickness: 2.4px;
      text-underline-offset: 4px;
    }
  }

  .about_list span {
    color: var(--color-main);
    font-weight: 700;
    font-size: 1.5em;
    vertical-align: middle;
  }
}

.services {
  background-color: var(--bg-grey);
  box-shadow: 0 0 0 100vmax var(--bg-grey);
  -webkit-clip-path: inset(0-100vmax);
  clip-path: inset(0-100vmax);

  .services_home {
    padding: 3em 0;
  }
}
