/* tarjests */
.servicios {
  text-align: center;

  p {
    margin-inline: auto;
  }
  & a{
    margin-bottom: 24px;
  }
  & div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    width: 100%;

    & div {
      background: var(--color-white);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 8px;
      display: grid;
      place-items: center;
      gap: 20px;

      & img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
        object-fit: cover;
      }
      p {
        padding: 0 12px;
      }
    }
  }
}
/* services */
.titulo{
  display: grid;
  place-content: center;
  text-align: center;
}
.titulo-services{

display: grid;
place-content: center;
text-align: center;

}

/* Contenedor principal de las tarjetas */
.service-cards {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(clamp(200px, 30%, 300px), 1fr));
  justify-items: center;
  align-items: stretch;
}

/* Estilo de cada tarjeta */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  gap: 0.5rem;
  width: 100%;
  max-width: 100%;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Contenedor del icono y subtema alineados */
.icon-subtitle {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  margin-bottom: 1rem;

  img{
      width: 100px;
      height: auto;
  }
}

/* Estilo de la descripción */
.description {
  margin-bottom: 1rem;
  line-height: 1.4;
}

/* cards */
.cards {
  .wrapper {
    padding: 0 0 4em;
  }
  
}
.cards__bg {
  .wrapper {
    padding: 8em 0 4em;

    .text_center {
      margin-top: 4em;
    }
  }
  
}

.two_columns {
  
  div {
    .faq-item::before{
    content: "?";
    margin-right: 0.2em;
    color: #ffce00;
    font-size: 1.5em;
    vertical-align: middle;
    }

  }
}