:root {
  --color-white: #fefefe;
  --color-main: #008037;
  --color-complement: #ffce00;
  --bgr: #f3f3f3;
  --bg-grey: #e7e7e7;
  --color-fonts: #111313;
  --color-btn: #005123;
  --color-accent: #00803736;
  --grey-1: #7c7a7a;
  --grey-2: #495057;
  --black: #18181a;

  --shadow: rgba(0, 0, 0, 0.15) 0px 6px 20px 2px;
  --radius: 8px;
  --radius-cards: 12px;
  --fuente: "Monstserrat", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 6em;
}

body {
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-fonts);
  font-family: var(--fuente);
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5 {
  text-transform: none;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.12;
  margin-bottom: 1em;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  color: var(--color-main);
}

h2 {
  position: relative;
  display: inline-block;
  font-size: clamp(2rem, 1.692rem + 1.54vw, 3rem);
  color: var(--color-main);
  max-width: 30ch;
  margin-bottom: 2rem;
}

h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 60px;
  height: 4px;
  background-color: var(--color-accent);
}

h3 {
  font-size: clamp(1.5rem, 1.269rem + 1.15vw, 2.25rem);
  color: var(--grey-2);
}

h4 {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  color: var(--grey-1);
}

h5 {
  font-size: clamp(1rem, 1.3vw, 1.15rem);
  color: var(--gris2);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

p, li {
  font-size: clamp(1.1rem, 1.1vw, 1.2rem);
  max-width: 70ch;
  margin-bottom: 1rem;
}

li {
  list-style: none;
  margin-left: 0.5rem;
}

a {
  color: var(--color-btn);
  text-decoration: none;
  font-weight: 700;
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

small {
  font-size: 85%;
  font-weight: 900;
  display: block;
}

img {
  border-style: none;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

ol li {
  margin-left: 3em;
  list-style: decimal;
}

::marker {
  font-size: 2rem;
  color: var(--color-secundario);
  font-family: var(--fuente);
}

.wrapper {
  padding: 8em 0 4em;
  width: min(calc(100% - 2rem), 1320px);
  margin-inline: auto;
}

.flow > * + * {
  margin-top: 1em;
}

.section {
  display: grid;
  gap: 2em;
}

.bgr {
  background-color: var(--bg-grey);
  box-shadow: 0 0 0 100vmax var(--bg-grey);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);
}
.bgr-hero {
  background-color: var(--bgr);
  box-shadow: 0 0 0 100vmax var(--bgr);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);
}
.bgr_cta {
  background: rgb(0, 9, 4);
  background: linear-gradient(
    292deg,
    rgba(0, 9, 4, 1) 0%,
    rgba(11, 152, 103, 1) 100%,
    rgba(6, 241, 124, 0.8603816526610644) 100%
  );
  
  h2{
    color:var(--color-white);
    position: relative;
    margin-bottom: 1.5rem;
  }
  h2::after {
    content: "";
    position: absolute;
    bottom: -0.2em;
    left: 0;
    width: 7em;
    height: 4px;
    background-color: #ffce00;
    border-radius: 2px;
  }
}

.two_columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 3em;

  &> div {
    flex: 1 0 480px;
    max-width: 100%;
  }
}

.two_columns_left {
  flex-direction: row-reverse;
}

.three_columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;

  > div {
    flex: 1 1 308px;
    max-width: 100%;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
    display: grid;
    place-items: center;
    gap: 2em;

    span {
      font-size: clamp(1.8rem, 4vw, 2.8rem);
      color: var(--color-main);
      font-weight: 700;
    }

    p {
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    h4{
      font-size: 24px;
      max-width: 296px;
      margin: 0;
    }
  }
}
.three_columns > div img:hover + p {
  opacity: 1;
  transform: translateY(0);
}

.text_center {
  display: grid;
  gap: 1em;
  place-items: center;
  width: min(100%, 720px);
  margin-inline: auto;
  text-align: center;
  margin-bottom: 4em;
}
