:root {
    --color-white: #fefefe;
    --color-main: #008037;
    --color-complement: #FFc30b;
    --color-fonts: #7C7A7A;
    --color-btn: #095329;
    --grey-1: #e2e6e9;
    --grey-2: #495057;
    --grey-3: #212529;


    --shadow: rgba(0, 0, 0, 0.15) 0px 6px 20px 2px;
    --radius: 12px;
    --fuente: "Monstserrat", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 6em;
}

body {
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-fonts);
  font-family: var(--fuente);
  background-color: var(--color-white);
}

h1, h2, h3, h4, h5 {
  text-transform: none;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin-bottom: 1em;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  color: var(--color-main);
}
h1 {
  margin-bottom: 2rem;
  position: relative;
}
h1::after {
  content: '';
  display: block;
  width: 200px;
  height: 2px;
  
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  position: relative;
  display: inline-block;
  font-size: clamp(1.8rem, 4vw, 2.8rem);
  color: var(--color-main);
  max-width: 30ch;
  font-weight: 700;
}

h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  height: 4px;
  display: block;
  width: 200px;
  margin: 10px auto;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: var(--color-main);
  max-width: 30ch;
}

h4 {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  color: var(--color-main);
}

h5 {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  color: var(--color-main);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
}

p, li {
  font-size: clamp(1.1rem, 1.1vw, 1.2rem);
  max-width: 70ch;
  font-weight: 700;
}

a {
    color: var(--grey-2);
    text-decoration: none;
    font-weight: 700;
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  a:hover {
    color: var(--color-complement);
    font-weight: 900;
  }

small {
  font-size: 85%;
}

img {
  border-style: none;
  max-width: 100%;
}

li {
  list-style: none;
  margin-left: 0.5rem;
}

ol li {
  margin-left: 3em;
  list-style: decimal;
}

::marker {
  font-size: 2rem;
  color: var(--color-secundario);
  font-family: var(--fuente);
}

.wrapper {
  padding: 6em 0;
  width: min(calc(100% - 2rem), 1200px);
  margin-inline: auto;
  
}

.wrapper-nav{
  width: min(calc(100% - 2rem), 1200px);
  margin-inline: auto;
}

.bgr{
  background-color: var(--grey-1);
  box-shadow: 0 0 0 100vmax var(--grey-1);
  clip-path: inset(0 -100vmax);
}

.dos_columnas_izquierda{
  flex-direction: row-reverse;
  gap: 1em;
}

strong {
  color: var(--color-main);
}
