---
layout: default
---
{{ content }}
<main class="wrapper">
  <h2>{{page.h2_gallery}}</h2>
  <div class="gallery_services">
    {% for item in site[page.category] %}
    <article>
      <div>
        <img src="{{'img/logo_quality.avif'|relative_url}}" alt="">
        <h3>{{item.h1}}</h3>
      </div>
      <p>{{item.excerpt}}</p>
      {% include button.html
        text="Lorem Ipsum"
        class="buttons button-main"
        url=item.url
      %}
    </article>
    {% endfor %}
  </div>
</main>