---
layout: compress
---
{% include head.html %}
<body>
  {% include cookie-banner.html %}
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSV8QLBF"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  {% include nav.html %}
  {% include header.html %}
  {{ content }}
  {% include footer.html %}

  <!-- mensage button -->
  <a href="sms:+16143843087" id="lead_sms" class="message-button" aria-label="Enviar mensaje">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="#fefefe" viewBox="0 0 192 192"><g stroke-width="12"><path stroke-linejoin="round" d="M30 54c0-13.255 10.745-24 24-24h84c13.255 0 24 10.745 24 24v84c0 13.255-10.745 24-24 24H30V54Z"/><path stroke-linecap="round" d="M54 96h84m-84 24h60M54 72h36"/></g></svg>
  </a>

  <!-- scrool top -->
  <button id="scroll-to-top" class="scroll-to-top" aria-label="Volver arriba">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M12 19V5M5 12l7-7 7 7"/>
    </svg>
  </button>
  
  <!-- Cookie Consent Script -->
  <script src="{{ '/js/consent.js' | relative_url }}" defer></script>
  <!-- Functions Scripts -->
  <script src="{{ '/js/code.js' | relative_url }}" defer></script>
  
</body>
</html>