---
layout: default
---
{{ content }}

<section class="wrapper two_columns">
  <div>
    <h3>{% if page.final_cta %}{{page.final_cta}}{% else %}{{page.title}}{% endif %}</h3>
    <p>{{page.description}}</p>
    <div>
      <a href="{{'faqs' | relative_url}}" title="FAQs Quality section" class="buttons button-secondary">→ FAQ's section</a>
      <a href="{{'about-us' | relative_url}}" title="About Quality Standard Ohio in Columbus" class="buttons button-secondary">→ About us</a>
      <a href="#" id="lead_whatsapp" title="Quality Standard Ohio WhatsApp" class="buttons button-secondary" target="_blank" rel="nofollow noopener noreferrer">→ Let's chat</a>
      {% include button.html text="Take our service →" %}
    </div>
  </div>
</section>