---
layout: default
---
{{ content }}

<section class="wrapper two_columns">
  <div>
    <h3>{{page.title}}</h3>
    <p>{{page.description}}</p>
  </div>
  <div class="two_columns">
    <a href="#" title="Lorem" class="buttons button-secondary">→ FAQ's section</a>
    <a href="#" title="Lorem" class="buttons button-secondary">→ Know about us</a>
    <a href="#" title="Lorem" class="buttons button-secondary">→ Let's chat</a>
    <a href="#" title="Lorem" class="buttons button-main">→ Take our service</a>
  </div>
</section>